@font-face {
  font-family: myFont;
  src: url("fonts/HelveticaNueMedExt.otf");
}

* {
  margin: 0;
  font-family: myFont;
  background-color: #2f2f2f;
  border: border-box;
  color: rgb(255, 255, 255);
  user-select: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.navul {
  list-style-type: none;
  display: flex;
  align-items: center;
  display: flex;
  padding-top: 10px;
  margin-left: 0; /* Removes margin on the left */
  padding-top: 10px;
  margin-right: auto;
  flex-grow: 1;
  justify-content: flex-start;
  transition: 0.5s;
}

.navul li {
  margin-right: 26px;
  cursor: pointer;
  transition: 0.5s;
}

.navul li:hover {
  transform: translateY(-7px);
  box-shadow: 0 3px #fcae87;
  /* font-weight: 900; */
}

.logo {
  display: flex;
  position: absolute;
  left: 46%; /* Centers the logo */
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 25px;
}

.logotext {
  font-size: 40px;
  color: white;
  font-weight: bolder;
  text-decoration: none;

  cursor: pointer;
  position: absolute;
  /* padding-top: 8px; */
  transition: 0.5s;
}

.gloweffect {
  text-shadow: 0 0 5px #ffffff, 0 0 12px #ffffff, 0 0 20px #ffffff,
    0 0 35px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  text-align: center;
}

.logotext:hover {
  transform: translateY(-7px);
  box-shadow: 0 3px #fcae87;
}

.pvpolicy {
  align-items: center;
  display: flex;
  padding-top: 12px;
  margin-left: 2in;
  position: relative;
}

.policybutton {
  background-color: #fcae87;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.5s;
}

.policybutton:hover {
  color: #fcae87;
  background-color: #2f2f2f;
  border: 2px solid #faa276;
}

.zaralg {
  display: flex;
  align-items: center;
  margin-left: 42.9%;
  margin-top: 10%;
}

.zaralgimg {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 1px 20px black;
  animation: bounce 10s infinite;
  transition: 0.5s;
}

.zaralgimg:hover {
  transform: scale(1.1); /* Optional: slightly grow the element on hover */
}

.buttons {
  margin-top: 20px;
  margin-right: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invitebutton {
  background-color: #3b82f6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 10px;
}

.discordsvg {
  height: 20px;
  width: 20px;
  padding-right: 8px;
  background-color: #3b82f6;
  transition: 0.5s;
}

.invitebutton:hover .discordsvg {
  background-color: #2f2f2f; /* Change the background color of the SVG on hover */
}

.discordsvg:hover {
  background-color: #2f2f2f; /* Keep the SVG background color the same on hover */
}

.invitebutton:hover {
  background-color: #2f2f2f;
  border: 2px solid #2563eb;
  color: #2563eb;
}

.supportbutton {
  background-color: #16a34a;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.supportbutton:hover {
  background-color: #2f2f2f;
  border: 2px solid #16a34a;
  color: #16a34a;
}

.description {
  width: 60%;
  margin-top: 20px;
  margin-left: 23%;
}

.footer {
  margin-bottom: 0;
  margin-top: 8.1%;
  margin-left: 41%;
}

.footer p {
  color: #fcae87;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
